<h1>Todo list</h1>

<ul id="todo-list">
<% todos.forEach(function(todo){ %>

  <li data-todo-id="<%= todo.id %>">

    <%= todo.title %>

    <a href="#" class="remove">(remove)</a>

  </li>

<%  }) %>
</ul>